<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect specific directories to themselves (bypass)
  RewriteRule ^(phpMyAdmin|app)(/.*)?$ - [NC,L]

  # Redirect everything else to the public folder
  RewriteRule ^((?!public/).*)$ public/$1 [NC,L]
</IfModule>
